<section class="profile">
  <script class="js-gravatar-hash" type="text/javascript">
    window.emailHash = {"email": "{{profile_info.email}}"}
  </script>
  <div class="profile-bio-wrapper">
    <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000" 
      alt="Person Profile Pic" 
      class="profile-avatar">
      <h1 class="profile-name">{{profile_info.my_name}}</h1>
    <div class="twitter-wrapper">
      <a class="twitter-handle" 
        href="http://twitter.com/{{profile_info.twitter_name}}">
        {{profile_info.twitter_name}} 
      </a>
    </div>
  </div>
  <div class="profile-tagline">
    <p>{{profile_info.profile_tagline}}</p>
  </div>
</section>
