---
layout: "template-listing.hbs"
---

<div class="template-listing-wrapper">
  <header class="template-listing-header">
    <h1>{{index.title}}</h1>
    <p>{{index.description}}</p>
  </header>

  <section class="template-listing-index">
    <ul>
      {{#each index.template_list }}
        <li><a href="{{target}}">
          <span class="template-listing-page">{{name}}</span>
          {{#if complete }}
            <span class="template-listing-status template-listing-status-complete">Accepted</span>
          {{else}}
            {{#if ready-for-review }}
            <span class="template-listing-status template-listing-status-review">Ready for review</span>
            {{else}}
            <span class="template-listing-status template-listing-status-progress">In development</span>
            {{/if}}
          {{/if}}
        </a></li>
      {{/each}}
    </ul>
  </section>

  <div class="template-listing-sbLogo">
    <img src="/img/sparkbox-logo.svg" alt="Sparkbox Logo">
  </div>
</div>